In [3]:
import requests
from bs4 import BeautifulSoup

In [4]:
url = "https://scraping-for-beginner.herokuapp.com/ranking"
res = requests.get(url)

In [49]:
soup = BeautifulSoup(res.text, 'html.parser')
# soup

In [153]:
# 1つの観光地情報を取得
# soup.select(".u_areaListRankingBox")
spots = soup.find_all('div', attrs={'class': 'u_areaListRankingBox'})
spot = spots[0]
spot_name = spot.find('div', attrs={'class': 'u_title'})
# spot.select_one(".u_title")

In [154]:
spot_name.text

'\n観光地 1\n'

In [139]:
spot_name.find("span", attrs={'class': 'badge'}).extract()
# # spot_name.select(".badge").extract()

In [159]:
spot_name = spot_name.text.replace('\n', '')
spot_name

AttributeError: 'str' object has no attribute 'text'

In [123]:
# 評点
eval_num = spot.find('div', attrs={'class': 'u_rankBox'}).text
eval_num = float(eval_num.replace('\n', ''))
eval_num
# spot.select(".u_rankBox")

4.7

In [89]:
categoryItems = spot.find('div', attrs={'class': 'u_categoryTipsItem'})
categoryItems

<div class="u_categoryTipsItem col s12">
<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">THE非日常</dd>
</dl>
<dl>
<dt>人混みの多さ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.5</span></dd>
<dd class="comment">まぁまぁ混んでいた</dd>
</dl>
<dl>
<dt>景色</dt>
<dd class="is_rank"><span class="evaluateNumber">4.9</span></dd>
<dd class="comment">大自然を感じることができた</dd>
</dl>
<dl>
<dt>アクセス</dt>
<dd class="is_rank"><span class="evaluateNumber">4.2</span></dd>
<dd class="comment">アクセスはあまり良くなかった</dd>
</dl>
</div>

In [94]:
categoryItems = categoryItems.find_all('dl')

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [99]:
# 楽しさのみ取得
categoryItem = categoryItems[0]
categoryItem

<dl>
<dt>楽しさ</dt>
<dd class="is_rank"><span class="evaluateNumber">4.6</span></dd>
<dd class="comment">THE非日常</dd>
</dl>

In [104]:
category = categoryItem.dt.text
category

'楽しさ'

In [108]:
rank = float(categoryItem.span.text)

4.6

In [116]:
details = {}

for categoryItem in categoryItems:
    category = categoryItem.dt.text
    rank = float(categoryItem.span.text)

    details[category] = rank

In [117]:
details

{'楽しさ': 4.6, '人混みの多さ': 4.5, '景色': 4.9, 'アクセス': 4.2}

In [160]:
datum = details
datum['観光地名'] = spot_name
datum['評価点'] = eval_num
datum

{'楽しさ': 4.6,
 '人混みの多さ': 4.5,
 '景色': 4.9,
 'アクセス': 4.2,
 '観光地名': '観光地 1',
 '評価点': 4.7}

In [166]:
soup = BeautifulSoup(res.text, 'html.parser')
data = []

# 観光地名
spots = soup.find_all('div', attrs={'class': 'u_areaListRankingBox'})
for spot in spots:
    spot_name = spot.find('div', attrs={'class': 'u_title'})

    spot_name.find("span", attrs={'class': 'badge'}).extract()

    spot_name = spot_name.text.replace('\n', '')
    # 評点
    eval_num = spot.find('div', attrs={'class': 'u_rankBox'}).text
    eval_num = float(eval_num.replace('\n', ''))

    categoryItems = spot.find('div', attrs={'class': 'u_categoryTipsItem'})
    categoryItems = categoryItems.find_all('dl')

    details = {}

    for categoryItem in categoryItems:
        category = categoryItem.dt.text
        rank = float(categoryItem.span.text)

        details[category] = rank

    datum = details
    datum['観光地名'] = spot_name
    datum['評価点'] = eval_num
    data.append(datum)

In [167]:
data

[{'楽しさ': 4.6,
  '人混みの多さ': 4.5,
  '景色': 4.9,
  'アクセス': 4.2,
  '観光地名': '観光地 1',
  '評価点': 4.7},
 {'楽しさ': 4.6,
  '人混みの多さ': 4.5,
  '景色': 4.9,
  'アクセス': 4.2,
  '観光地名': '観光地 2',
  '評価点': 4.7},
 {'楽しさ': 4.5,
  '人混みの多さ': 4.4,
  '景色': 4.8,
  'アクセス': 4.1,
  '観光地名': '観光地 3',
  '評価点': 4.6},
 {'楽しさ': 4.4,
  '人混みの多さ': 4.4,
  '景色': 4.8,
  'アクセス': 4.0,
  '観光地名': '観光地 4',
  '評価点': 4.5},
 {'楽しさ': 4.4,
  '人混みの多さ': 4.3,
  '景色': 4.7,
  'アクセス': 4.0,
  '観光地名': '観光地 5',
  '評価点': 4.5},
 {'楽しさ': 4.3,
  '人混みの多さ': 4.3,
  '景色': 4.7,
  'アクセス': 3.9,
  '観光地名': '観光地 6',
  '評価点': 4.4},
 {'楽しさ': 4.2,
  '人混みの多さ': 4.2,
  '景色': 4.6,
  'アクセス': 3.8,
  '観光地名': '観光地 7',
  '評価点': 4.3},
 {'楽しさ': 4.2,
  '人混みの多さ': 4.2,
  '景色': 4.6,
  'アクセス': 3.8,
  '観光地名': '観光地 8',
  '評価点': 4.3},
 {'楽しさ': 4.1,
  '人混みの多さ': 4.1,
  '景色': 4.5,
  'アクセス': 3.7,
  '観光地名': '観光地 9',
  '評価点': 4.2},
 {'楽しさ': 4.0,
  '人混みの多さ': 4.1,
  '景色': 4.4,
  'アクセス': 3.6,
  '観光地名': '観光地 10',
  '評価点': 4.1}]

In [169]:
import pandas as pd

In [170]:
df = pd.DataFrame(data)

In [171]:
df

   楽しさ  人混みの多さ   景色  アクセス    観光地名  評価点
0  4.6     4.5  4.9   4.2   観光地 1  4.7
1  4.6     4.5  4.9   4.2   観光地 2  4.7
2  4.5     4.4  4.8   4.1   観光地 3  4.6
3  4.4     4.4  4.8   4.0   観光地 4  4.5
4  4.4     4.3  4.7   4.0   観光地 5  4.5
5  4.3     4.3  4.7   3.9   観光地 6  4.4
6  4.2     4.2  4.6   3.8   観光地 7  4.3
7  4.2     4.2  4.6   3.8   観光地 8  4.3
8  4.1     4.1  4.5   3.7   観光地 9  4.2
9  4.0     4.1  4.4   3.6  観光地 10  4.1

In [172]:
df.columns

Index(['楽しさ', '人混みの多さ', '景色', 'アクセス', '観光地名', '評価点'], dtype='object')

In [175]:
df = df[['観光地名', '評価点', '楽しさ', '人混みの多さ', '景色', 'アクセス']]

In [176]:
df

     観光地名  評価点  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1  4.7  4.6     4.5  4.9   4.2
1   観光地 2  4.7  4.6     4.5  4.9   4.2
2   観光地 3  4.6  4.5     4.4  4.8   4.1
3   観光地 4  4.5  4.4     4.4  4.8   4.0
4   観光地 5  4.5  4.4     4.3  4.7   4.0
5   観光地 6  4.4  4.3     4.3  4.7   3.9
6   観光地 7  4.3  4.2     4.2  4.6   3.8
7   観光地 8  4.3  4.2     4.2  4.6   3.8
8   観光地 9  4.2  4.1     4.1  4.5   3.7
9  観光地 10  4.1  4.0     4.1  4.4   3.6

In [177]:
df.to_csv('観光地情報.csv', index=False)

In [178]:
df

     観光地名  評価点  楽しさ  人混みの多さ   景色  アクセス
0   観光地 1  4.7  4.6     4.5  4.9   4.2
1   観光地 2  4.7  4.6     4.5  4.9   4.2
2   観光地 3  4.6  4.5     4.4  4.8   4.1
3   観光地 4  4.5  4.4     4.4  4.8   4.0
4   観光地 5  4.5  4.4     4.3  4.7   4.0
5   観光地 6  4.4  4.3     4.3  4.7   3.9
6   観光地 7  4.3  4.2     4.2  4.6   3.8
7   観光地 8  4.3  4.2     4.2  4.6   3.8
8   観光地 9  4.2  4.1     4.1  4.5   3.7
9  観光地 10  4.1  4.0     4.1  4.4   3.6