In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]]
    )

In [3]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9